<!DOCTYPE html>
<html ng-app="TwitterApp">
  <head>
    <title>Twitter Reputation Analyzer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/twitter.jpg" type="image/x-icon" />
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/twitter_rptn_analysis.css">

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color:#E8E8E8" ng-controller="TwitterController">
    <!-- Navigation bar -->
    <div id="nav-div">
      <div class="row">
        <div class="col-lg-4">
          <div class="row">
            <img id="icon" src="/images/twitter.jpg">
            <h3 id="project-name"><strong>Twitter Reputation Analyzer</strong></h3>
          </div>
           </div>
        
        <div class="col-lg-4">
          <div id="searchbox" class="input-group">
            <input id="search_box" ng-model="screen_name" type="text" class="form-control" placeholder="Search for Twitter Members with twitter handle">
            <span class="input-group-btn">
              <button id="btnGo" ng-click="getProfile()" class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Navigation bar -->
    
    <!-- Space between search and result -->
    <div id="search-space-result">
    </div>
    <!-- End of space between search and result -->

    <!-- Below displays results for the search  -->
    <div id="result-display">
      <div class="row">
        <div class="col-lg-6" style="width:40%;">
           <h4 style="position:relative;margin-left:10%"><strong>Profile Information</strong><h4>
            <div id="profile-info">
              <div id="inner-profile"class="row">
                <div class="col-lg-5">
                   <img src="{{imageURL}}" style="height:175px;width:170px;margin-left:10%; border:1px solid;">
                </div>
                <div class="col-lg-7">
                  <h5><strong>Name: </strong>{{name}}</h5>
                  <h5><strong>Username: </strong>{{screenName}}</h5>
                  <h5><strong>Description: </strong>{{description}}</h5>
                  <h5><strong>Location: </strong>{{location}}</h5>
                  <h5><strong>Joined on: </strong>{{date}}</h5>
                </div>
              </div> 
              <div id="profileStats">
                <div class="row">
                  <div class="col-lg-4"><h5><strong>Tweets</strong></h5> <p>{{no_of_tweets}}</p></div>
                  <div class="col-lg-4"><h5><strong>Following</strong></h5><p>{{following}}</p></div>
                  <div class="col-lg-4"><h5><strong>Followers</strong></h5><p>{{follower}}</p></div>
                </div>
              </div>       
            </div>
        </div>
        <div class="col-lg-6" style="width:56%;">
           <h4><strong>Reputation Score</strong><h4>
            <div id="reputation-info">

              <div id="inner-reputation"class="row">
                <div class="col-lg-5">
                   <h4><strong>Reputation score of {{screenName}}: </strong></h4>
                   <h4 style="color:deepskyblue"><strong>{{finalScore}} points out of 1000 points</strong></h4>
                   <br>
                   <h5><strong>Number of positive words found: </strong>{{positiveWordSocre}}</h5>
                   <br>
                   <h5><strong>Number of negative words found: </strong>{{negativeWordScore}}</h5>
                   <br>
                   
                </div>
                <div class="col-lg-1">
                  <img src="images/vertical-line.jpg" style="width:0.159em;margin-left:60%;">
                </div>
                <div class="col-lg-5">
                  <h5><strong>Description for Reputation score based on: </strong></h5>
                  <h5><span>A] The reputation is calculated on the basis of</span><br><br><span>1)Number of followers</span><br><br><span>2)The content of tweets</span><br><br><span>3)The followers scores</span></h5><br>
                  <h5>B] The positive words and negative words from the tweets affects on final reputation score.</h5>
                </div>
              </div> 
            </div>
        </div>      
      </div>

      <!-- Start of Tweets section -->
     <div id="tweet-section">
      <div class="row">
        <div class="col-lg-4">
          <h4 style="position:relative;margin-left:15%"><strong>Latest Tweets</strong><h4>
        </div>
        <div class="col-lg-4">
          <h4 style="position:relative;margin-left:5%"><strong>Filter Tweets by  </strong><select ng-model="selectedItem" ng-change="showByOrder()">
        <option ng-repeat="item in items" value="{{item}}">{{item}}</option>
      </select></h4><br>
        </div>
      </div>        
         <div  ng-repeat="tweettxt in tweettxts track by $index">
            <div  id="tweet-content" style="width:90%; margin-left:auto; margin-right:auto; border: 1px solid; background-color:white;">
              <h5 class="tweet-content-position"><strong>Tweet Text: </strong>{{tweettxt.tweet}}<h5>
              <h5 class="tweet-content-position"><strong>Retweet count : </strong>{{tweettxt.retweet_count}}<h5>
              <h5 class="tweet-content-position"><strong>Date : </strong>{{tweettxt.date}}<h5>
              <div ng-if=(tweettxt.media=="photo") >
                <h5 class="tweet-content-position"><strong>Media photo : </strong><h5>
                  <div style="width:70%;  margin-left:auto;  margin-right:auto;">
                    <img  src="{{tweettxt.media_image_url}}" style=" height:250px;border:1px solid;border-color:#ff0000 #00ff00 #0000ff rgb(250,0,255);  "> 
                  </div>
                
              </div>
              
          </div><br>
       </div>
     </div>
     <!-- End of Tweets section -->
        <div id="footer" style="height:5%"><br>
          <nav  class="navbar navbar-collapse ">
            <div class="container">
              <p class="pull-right" style="color:black;"><b>Twitter Reputation Analyzer</b> &copy; Copyright-left-everything</p>      
            </div>
          </nav>
        </div>
    </div>
   <!-- End of Below displays results for the search  -->
       
<script src="javascripts/AngularControllers.js"></script>
  </body>
</html>
