 	#nav-div{
 	   background-color:white;
 	   height:60px;
 	}
 	#icon{
 		width:70px;
 		height:55px;
 		margin-left:20px;
 	}
 	#project-name{
 	  position:relative;
 	  margin-bottom:-25px;
 	  margin-top: -45px;
      margin-left: 19%;
      color: deepskyblue;
 	}
 	#nav-div {
   		border: 1px solid;
   		border-color: blue;
   	}
    #search-space-result{ 
      height:2px;;
    }
    #result-display{
      background-color:white;
      height: 60%;
      border: 1px solid;
      border-color: blue;
    }
    #search_box{
      margin-top:10px;
    }
    #btnGo{
      margin-top:10px;
    }
    #profile-info{
      margin-left:10%;
      background-color:#FFFFCC;
      border:1px solid;
      height: 290px;
    }
     #reputation-info{
      background-color:#FFFFCC;
      border:1px solid;

     }
   #inner-profile {
    padding-top: 5%;
   }
   #inner-reputation{
    padding-top: 2%;
    padding-left: 3%;
   }
   #profileStats{
    position: relative;
    padding-left: 5%;
   }
   .statPos{
    width: 6em;
    margin-left: auto;
    margin-right: auto;
   }
   #tweet-section{

    width: 92%;
    margin-right: auto;
    margin-left: auto;
    height: 70%;
    background-color: #FFFFCC;
    border-color: blue;
    border: 1px solid;
   }
#footer{
  width: 92%;
    margin-right: auto;
    margin-left: auto;
}
hr.vertical
{  border: 1px solid;
   width: 0px;
   height: 100%;
} 
.tweet-content-position{
  padding-left: 2%;
}